<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nyg.sideproj.mapper.KamcoMapper">

    <!-- 원본 데이터 조회 -->
    <select id="findRawData" parameterType="com.nyg.sideproj.dto.KamcoRequest" resultType="com.nyg.sideproj.domain.KamcoItem">
        SELECT *
        FROM public_data_raw
        <where>
            <if test="request.dpslMtdCd != null">
                AND dpsl_mtd_cd = #{request.dpslMtdCd}
            </if>
            <if test="request.sido != null">
                AND nmrd_adrs LIKE CONCAT('%', #{request.sido}, '%')
            </if>
        </where>
        ORDER BY pbct_begn_dtm DESC
        LIMIT #{request.numOfRows} OFFSET #{(request.pageNo-1) * request.numOfRows}
    </select>

    <!-- 물건관리번호 기준 중복 제거 조회 -->
    <select id="findByMnmtNo" parameterType="com.nyg.sideproj.dto.KamcoRequest" resultType="com.nyg.sideproj.domain.KamcoItem">
        SELECT *
        FROM public_data_by_mnmt_no
        <where>
            <if test="request.dpslMtdCd != null">
                AND dpsl_mtd_cd = #{request.dpslMtdCd}
            </if>
            <if test="request.sido != null">
                AND nmrd_adrs LIKE CONCAT('%', #{request.sido}, '%')
            </if>
        </where>
        ORDER BY pbct_begn_dtm DESC
        LIMIT #{request.numOfRows} OFFSET #{(request.pageNo-1) * request.numOfRows}
    </select>

    <!-- 물건명 기준 중복 제거 조회 -->
    <select id="findByCltrNm" parameterType="com.nyg.sideproj.dto.KamcoRequest" resultType="com.nyg.sideproj.domain.KamcoItem">
        SELECT *
        FROM public_data_by_cltr_nm
        <where>
            <if test="request.dpslMtdCd != null">
                AND dpsl_mtd_cd = #{request.dpslMtdCd}
            </if>
            <if test="request.sido != null">
                AND nmrd_adrs LIKE CONCAT('%', #{request.sido}, '%')
            </if>
        </where>
        ORDER BY pbct_begn_dtm DESC
        LIMIT #{request.numOfRows} OFFSET #{(request.pageNo-1) * request.numOfRows}
    </select>

</mapper>
